In [45]:
import pymysql

In [ ]:
# 1. 데이터 베이스 연결
# 2. SQL 생성
# 3. SQL 실행 => 결과(데이터 타입 확인)
# select => tuple, DML => int

In [46]:
# 1. 데이터베이스 연결
proj_db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'notroot',
    password = 'admin',
    db = 'dobyisfree', # 데이터베이스 이름
    charset = 'utf8',
    autocommit = False
) # Connection 객체 생성

In [47]:
proj_db

In [48]:
cursor = proj_db.cursor()
print(cursor)

<pymysql.cursors.Cursor object at 0x000002BD08B9A490>

In [49]:
# sql 생성
sql_select = 'select * from dept'
sql_emp_select = 'select * from emp where deptno = 30'

In [50]:
# sql 실행 요청 => 결과 받아오는 처리
#cursor.execute(sql_select)
cursor.execute(sql_emp_select)
result = cursor.fetchall()

In [51]:
print(result)

((7499, 'ALLEN', 'SALESMAN', '7698', '1981-02-20', 1600.0, 300.0, 30), (7521, 'WARD', 'SALESMAN', '7698', '1981-02-22', 1250.0, 500.0, 30), (7654, 'MARTIN', 'SALESMAN', '7698', '1981-09-28', 1250.0, 1400.0, 30), (7698, 'BLAKE', 'MANAGER', '7839', '1981-05-01', 2850.0, None, 30), (7844, 'TURNER', 'SALESMAN', '7698', '1981-09-08', 1500.0, 0.0, 30), (7934, 'MILLER', 'CLERK', '7782', '1982-01-23', 1300.0, None, 30))

In [52]:
for dept in result:
    #print(dept)
    for i in dept :
        print(i, end='\t')
    print()

7499	ALLEN	SALESMAN	7698	1981-02-20	1600.0	300.0	30
7521	WARD	SALESMAN	7698	1981-02-22	1250.0	500.0	30
7654	MARTIN	SALESMAN	7698	1981-09-28	1250.0	1400.0	30
7698	BLAKE	MANAGER	7839	1981-05-01	2850.0	None	30
7844	TURNER	SALESMAN	7698	1981-09-08	1500.0	0.0	30
7934	MILLER	CLERK	7782	1982-01-23	1300.0	None	30

In [53]:
for emp in result:
    #print(emp)
    for i in emp :
        print(i, end='\t')
    print()

7499	ALLEN	SALESMAN	7698	1981-02-20	1600.0	300.0	30
7521	WARD	SALESMAN	7698	1981-02-22	1250.0	500.0	30
7654	MARTIN	SALESMAN	7698	1981-09-28	1250.0	1400.0	30
7698	BLAKE	MANAGER	7839	1981-05-01	2850.0	None	30
7844	TURNER	SALESMAN	7698	1981-09-08	1500.0	0.0	30
7934	MILLER	CLERK	7782	1982-01-23	1300.0	None	30

In [54]:
# 데이터 입력
# sql 생성
sql_insert = 'insert into dept (deptno, dname, loc) values(%s, %s, %s)'
result_insert_cnt = cursor.execute(sql_insert, (50, 'DEV', 'Seoul')) # insert into dept (deptno, dname, loc) values(50, 'DEV', 'Seoul')

In [55]:
proj_db.commit() # insert, update, delete => commit

In [56]:
result_insert_cnt

1

In [57]:
# 데이터 수정 : 행단위 수정
sql_update = 'update dept set loc=%s where deptno = %s'
result_update_cnt = cursor.execute(sql_update, ('BUSAN', 50)) # update dept set loc='BUSAN' where deptno = 50
print('result :', result_update_cnt)

result : 1

In [58]:
proj_db.commit()

In [59]:
# 데이터 삭제 : 헹단위 삭제
sql_delete_cnt = cursor.execute('delete from dept where deptno=%s', (50))
print(sql_delete_cnt)
if sql_delete_cnt :
    print('삭제되었습니다.')
else:
    print('삭제된 부서가 없습니다.')

proj_db.commit()

1
삭제되었습니다.

In [60]:
# 연결 종료
proj_db.close()