In [2]:
import pymysql

In [ ]:
# 1. 데이터 베이스 연결
# 2. SQL 생성
# 3. SQL 실행 => 결과(데이터 타입 확인)
# select => tuple, DML => int

In [18]:
# 1. 데이터베이스 연결
proj_db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'notroot',
    password = 'admin',
    db = 'dobyisfree', # 데이터베이스 이름
    charset = 'utf8',
    autocommit = False
) # Connection 객체 생성

In [19]:
proj_db

In [20]:
cursor = proj_db.cursor()
print(cursor)

<pymysql.cursors.Cursor object at 0x000002BD09047250>

In [21]:
# sql 생성
sql_select = 'select * from dept'
sql_emp_select = 'select * from emp where deptno = 30'

In [22]:
# sql 실행 요청 => 결과 받아오는 처리
cursor.execute(sql_select)
result = cursor.fetchall()

In [23]:
print(result)

((10, 'ACCOUNTING', 'NEW YORK', None), (20, 'RESEARCH', 'DALLAS', None), (30, 'SALES', 'CHICAGO', None), (40, 'OPERATIONS', 'BOSTON', None))

In [24]:
for dept in result:
    #print(dept)
    for i in dept :
        print(i, end='\t')
    print()

10	ACCOUNTING	NEW YORK	None
20	RESEARCH	DALLAS	None
30	SALES	CHICAGO	None
40	OPERATIONS	BOSTON	None

In [25]:
for emp in result:
    #print(emp)
    for i in emp :
        print(i, end='\t')
    print()

10	ACCOUNTING	NEW YORK	None
20	RESEARCH	DALLAS	None
30	SALES	CHICAGO	None
40	OPERATIONS	BOSTON	None

In [32]:
# 데이터 입력
# sql 생성
sql_insert = 'insert into dept (deptno, dname, loc) values(%s, %s, %s)'
result_insert_cnt = cursor.execute(sql_insert, (50, 'DEV', 'Seoul')) # insert into dept (deptno, dname, loc) values(50, 'DEV', 'Seoul')

IntegrityError: (1062, "Duplicate entry '50' for key 'dept.PRIMARY'")

In [31]:
proj_db.commit() # insert, update, delete => commit

In [35]:
result_insert_cnt

1

In [36]:
# 데이터 수정 : 행단위 수정
sql_update = 'update dept set loc=%s where deptno = %s'
result_update_cnt = cursor.execute(sql_update, ('BUSAN', 50)) # update dept set loc='BUSAN' where deptno = 50
print('result :', result_update_cnt)

result : 1

In [37]:
proj_db.commit()

In [ ]:
# 데이터 삭제 : 헹단위 삭제
sql_delete_cnt = cursor.execute('delete from dept where deptno=%s', (50))
print(sql_delete_cnt)
if sql_delete_cnt :
    print('삭제되었습니다.')
else:
    print('삭제된 부서가 없습니다.')

proj_db.commit()

0
삭제되지 않았습니다.

In [43]:
# 연결 종료
proj_db.close()