In [ ]:
# 2025-05-19
# 실행방법 Ctrl + Enter
print(1)

1

In [32]:
print('안녕하세요')

안녕하세요

# 이거 Markdown인데
## first Python
### programing
#### H4
##### H5
###### H6 
####### H7란건 없단다 애송아 ㅋㅋ

In [80]:
# 이건 주석이에요
# 변수 
# 식별자(이름) = 값
num = 100

In [81]:
print(num)

100

In [82]:
# num의 메모리 주소
# id() : 객체의 메모리 주소를 확인하는 함수
id(num)
list1 = [1, 2, 3] # 리스트

In [83]:
a = [1, 2, 3]
b = a # a와 b는 같은 객체를 가리킴
print(id(a), id(b)) # a와 b는 같은 메모리 주소를 가리킴

1971150388096 1971150388096

In [84]:
(a, b) = ('python', 'life') # 튜플
(a, b) = 'python', 'life'   # 튜플 괄호생략 가능
a = b = 'python' # 여러개 변수에 같은 값 대입
print(a, b) # a와 b는 같은 값
a = 3 
b = 5
print(a, b)
a, b = b, a # a와 b의 값 교환
print(a, b)

python python
3 5
5 3

In [85]:
# 자료형
# 숫자형 = int, float, complex, bool, 8진수, 16진수
# 정수, 실수
# 숫자 연산 => 사칙연산, %, //, **
print(7+3) # 덧셈
print(100-10) # 뺄셈
print(4*25) # 곱하기
print(10/3) # 나누기
print(10%3) # 나머지
print(10//3) # 몫
print(3**2) # 제곱

10
90
100
3.3333333333333335
1
3
9

In [86]:
# 문자열 string
# hello => 문자들을 나열(순서) h, e, l, l, o -> 시퀀스 자료형
# 문자열 생성 : "hello" 'hello' '''hello''' """hello"""
str_1 = 'hello'

In [87]:
str_1

'hello'

In [88]:
str_2 = '''
안녕하세요!
    반갑습니다.
'''

In [89]:
print(str_2)

안녕하세요!
    반갑습니다.

In [90]:
str_sql = '''
select *
from emp
where empno = 1000
'''

In [91]:
str_html = '''
<html>
    <head>
        <title>제목</title>
    </head>
    <body>
        <h1>안녕하세요</h1>
    </body>
'''

In [92]:
# 문자열 연산자
# 더하기 +, 곱하기, 함수=> 길이(size) : len()
head = 'Python'
tail = 'Nice~!!'
print(head +' '+ tail) # 문자열 더하기

Python Nice~!!

In [93]:
print('-'*20)
print(head * 2)
print(len(head)) # 문자열 길이

--------------------
PythonPython
6

In [94]:
# 문자열의 인덱싱, 슬라이싱
# P y t h o n
# 0 1 2 3 4 5 <- index
# -6-5-4-3-2-1 <- index
str_3 = 'Python'

In [95]:
print(str_3[0])
print(str_3[1])
print(str_3[2])
print(str_3[3])
print(str_3[4])
print(str_3[5])

P
y
t
h
o
n

In [96]:
print(str_3[-6])
print(str_3[-5])
print(str_3[-4])
print(str_3[-3])
print(str_3[-2])
print(str_3[-1])

P
y
t
h
o
n

In [97]:
# 슬라이싱 : str_3[시작index, 끝index]
# P y t h o n
# 0 1 2 3 4 5 <- index
print(str_3[0:3])

Pyt

In [98]:
# f`안녕하세요! {name}님`
user_name = '홍길동'
user_age = 20
f'안녕하세요! 저는{user_name}입니다. 제 나이는 {user_age+1}입니다.'

'안녕하세요! 저는홍길동입니다. 제 나이는 21입니다.'

In [99]:
# 문자열 타입이 제공하는 함수
str_4 = 'hobby'

In [100]:
print(str_4.count('b')) # b의 개수
print(','.join('abcd')) # 문자열을 ,로 연결
print(str_4,str_4.upper()) # 대문자
print(str_4,str_4.lower()) # 소문자

2
a,b,c,d
hobby HOBBY
hobby hobby

In [101]:
str_5 = '     python   '

In [102]:
print(str_5)
print(str_5.rstrip()) # 오른쪽 공백 제거
print(str_5.lstrip()) # 왼쪽 공백 제거
print(str_5.strip()) # 양쪽 공백 제거

     python
     python
python
python

In [103]:
# split
str_6 = 'hi~ BUM!'
str_6.split() # 공백을 기준으로 나누기

['hi~', 'BUM!']

In [104]:
str_pn = '010-1234-5678'
str_pn.split('-')

['010', '1234', '5678']

In [105]:
# boolean 타입 : 논리값 저장
check_a = True
check_b = False
print(check_a, check_b)
print( '10 > 4 =>', 10>4 )

True False
10 > 4 => True

In [106]:
# 자료형 타입의 논리값 
if False :
    print(True)
else :
    print(False)

False

In [107]:
bool(18) # 0이 아닌 숫자 => True

True

- 코딩연습 
<br> 
- 마크다운으로 이미지 파일 첨부하는 법
--- 

![poster](./img/dog.jpg)

In [110]:
# 과목별 점수 평균
math = 80
english = 90
science = 85
average = (math + english + science) / 3
print('평균 점수:', average, '총점', average * 3)

평균 점수: 85.0 총점 255.0

In [109]:
# 성별이 남성이고 18세 이상의 성인 여부를 판단하는 조건식
man = input('몇 세인가요? : ')
if int(man) >= 18 :
    print(f'{man}세는 성인입니다.')
else : 
    print(f'{man}세는 미성년자입니다.')

12세는 미성년자입니다.

##### 이미지 공들여서 가운데로 넣기
<p align="center">
 <img src = "./img/pepe-dancing-pepe-the-frog.gif">
</p>
<a herf = "https://tenor.com/ko/"> 여기서 가져옴 </a>
<p align="center">
 <img src = "./img/vulpisfoglia-cry.gif">
</p>

In [117]:
# list : 자료형의 묶음으로 표현 -> 변수들의 묶음
# list = [1, 2, 3, 4, 5]
# 변수들은 순서를 가진다 ( 저장한 순서 -> index )
# index range : 0 ~ n(요소의 개수)-1
list_a = [] # list 생성
list_b = [1, 2, 3] 
print(list_b, list_b[0], list_b[1], list_b[2])
list_c = [1, 2, [3, 4, [5, 6]]] # 리스트 안에 리스트
print(list_c[2])
print(list_c[2][0]) 
print(list_c[2][1]) 
print(list_c[2][2][0])

[1, 2, 3] 1 2 3
[3, 4, [5, 6]]
3
4
5

In [118]:
# list 요소 참조
list_d = [1, 2, 3]

In [119]:
list_d[0] = 10
print(list_d[0]) # 10
print(list_d) # 2

10
[10, 2, 3]

In [120]:
# 리스트의 슬라이싱
list_e = [1, 2, 3, 4, 5]

In [126]:
# 변수[시작index : 마지막(탈출)index : 증가값(step)]
print(list_e[0:4]) # [1, 2, 3, 4]
print(list_e[0:3:2]) # [1, 2, 3, 4, 5]

[1, 2, 3, 4]
[1, 3]

In [121]:
# 리스트에 데이터를 저장, 추가적인 리스트 데이터를 하나의 리스트로 저장
score_1 = [100, 90, 80]
score_2 = [40, 90, 50, 100, 70]
score_1 + score_2

[100, 90, 80, 40, 90, 50, 100, 70]

In [122]:
score_1*3

[100, 90, 80, 100, 90, 80, 100, 90, 80]

In [137]:
list_score = []

In [155]:
list_score.append(60) # 리스트에 데이터 추가

In [ ]:
list_score.pop() # 리스트의 마지막 요소 삭제
list_score.pop(0) # 리스트의 첫번째 요소 삭제
# 삭제할 요소의 index가 없으면 오류 발생

100

In [156]:
list_score

[100, 100, 100, 100, 100, 60]

In [163]:
list_temp1 = [1, 2, 3, 4]
list_temp2 = [5, 6, 7, 8]
list_temp3 = list_temp1 + list_temp2 # 리스트 합치기
print(list_temp1)
print(list_temp2)
print(list_temp3)

[1, 2, 3, 4]
[5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [164]:
list_temp1.extend(list_temp2) # 리스트의 요소를 추가
print(list_temp1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [166]:
for num in list_temp1 : # 0->1 num = 1 -> num = 2 -> num = 3... 안에있는 list의 갯수만큼 반복한다.
    print(num)

1
2
3
4
5
6
7
8