In [ ]:
# 2025-05-19
# 실행방법 Ctrl + Enter
print(1)

1

In [32]:
print('안녕하세요')

안녕하세요

# 이거 Markdown인데
## first Python
### programing
#### H4
##### H5
###### H6 
####### H7란건 없단다 애송아 ㅋㅋ

In [80]:
# 이건 주석이에요
# 변수 
# 식별자(이름) = 값
num = 100

In [81]:
print(num)

100

In [82]:
# num의 메모리 주소
# id() : 객체의 메모리 주소를 확인하는 함수
id(num)
list1 = [1, 2, 3] # 리스트

In [83]:
a = [1, 2, 3]
b = a # a와 b는 같은 객체를 가리킴
print(id(a), id(b)) # a와 b는 같은 메모리 주소를 가리킴

1971150388096 1971150388096

In [84]:
(a, b) = ('python', 'life') # 튜플
(a, b) = 'python', 'life'   # 튜플 괄호생략 가능
a = b = 'python' # 여러개 변수에 같은 값 대입
print(a, b) # a와 b는 같은 값
a = 3 
b = 5
print(a, b)
a, b = b, a # a와 b의 값 교환
print(a, b)

python python
3 5
5 3

In [85]:
# 자료형
# 숫자형 = int, float, complex, bool, 8진수, 16진수
# 정수, 실수
# 숫자 연산 => 사칙연산, %, //, **
print(7+3) # 덧셈
print(100-10) # 뺄셈
print(4*25) # 곱하기
print(10/3) # 나누기
print(10%3) # 나머지
print(10//3) # 몫
print(3**2) # 제곱

10
90
100
3.3333333333333335
1
3
9

In [86]:
# 문자열 string
# hello => 문자들을 나열(순서) h, e, l, l, o -> 시퀀스 자료형
# 문자열 생성 : "hello" 'hello' '''hello''' """hello"""
str_1 = 'hello'

In [87]:
str_1

'hello'

In [88]:
str_2 = '''
안녕하세요!
    반갑습니다.
'''

In [89]:
print(str_2)

안녕하세요!
    반갑습니다.

In [90]:
str_sql = '''
select *
from emp
where empno = 1000
'''

In [91]:
str_html = '''
<html>
    <head>
        <title>제목</title>
    </head>
    <body>
        <h1>안녕하세요</h1>
    </body>
'''

In [92]:
# 문자열 연산자
# 더하기 +, 곱하기, 함수=> 길이(size) : len()
head = 'Python'
tail = 'Nice~!!'
print(head +' '+ tail) # 문자열 더하기

Python Nice~!!

In [93]:
print('-'*20)
print(head * 2)
print(len(head)) # 문자열 길이

--------------------
PythonPython
6

In [ ]:
# 문자열의 인덱싱, 슬라이싱
# P y t h o n
# 0 1 2 3 4 5 <- index
# -6-5-4-3-2-1 <- index
str_3 = 'Python'

In [95]:
print(str_3[0])
print(str_3[1])
print(str_3[2])
print(str_3[3])
print(str_3[4])
print(str_3[5])

P
y
t
h
o
n

In [96]:
print(str_3[-6])
print(str_3[-5])
print(str_3[-4])
print(str_3[-3])
print(str_3[-2])
print(str_3[-1])

P
y
t
h
o
n

In [ ]:
# 슬라이싱 : str_3[시작index : 끝index]
# P y t h o n
# 0 1 2 3 4 5 <- index
print(str_3[0:3])

Pyt

In [98]:
# f`안녕하세요! {name}님`
user_name = '홍길동'
user_age = 20
f'안녕하세요! 저는{user_name}입니다. 제 나이는 {user_age+1}입니다.'

'안녕하세요! 저는홍길동입니다. 제 나이는 21입니다.'

In [99]:
# 문자열 타입이 제공하는 함수
str_4 = 'hobby'

In [100]:
print(str_4.count('b')) # b의 개수
print(','.join('abcd')) # 문자열을 ,로 연결
print(str_4,str_4.upper()) # 대문자
print(str_4,str_4.lower()) # 소문자

2
a,b,c,d
hobby HOBBY
hobby hobby

In [ ]:
str_5 = '    python    '

In [ ]:
print(str_5)
print(str_5.rstrip()) # 오른쪽 공백 제거 SQL 같은데에서 많이 사용된다.
print(str_5.lstrip()) # 왼쪽 공백 제거
print(str_5.strip()) # 양쪽 공백 제거

     python
     python
python
python

In [ ]:
# split
str_6 = 'hi~ BUM!'
str_6.split() # 공백을 기준으로 문자열 나누기

['hi~', 'BUM!']

In [ ]:
str_pn = '010-1234-5678'
str_pn.split('-') # -를 기준으로 문자열 나누기

['010', '1234', '5678']

In [105]:
# boolean 타입 : 논리값 저장
check_a = True
check_b = False
print(check_a, check_b)
print( '10 > 4 =>', 10>4 )

True False
10 > 4 => True

In [1]:
# 자료형 타입의 논리값 
if None :
    print(True)
else :
    print(False)

False

In [107]:
bool(18) # 0이 아닌 숫자 => True

True

- 코딩연습 
<br> 
- 마크다운으로 이미지 파일 첨부하는 법
--- 

![poster](./img/dog.jpg)

In [2]:
# 과목별 점수 평균
math = int(input('수학점수를 입력하세요: ')) # input은 문자열로 반환한다. 따라서 int()로 문자열을 정수로 변환
english = 90
science = 85
average = (math + english + science) / 3
print('평균 점수:', average, '총점', average * 3)

평균 점수: 68.0 총점 204.0

In [109]:
# 성별이 남성이고 18세 이상의 성인 여부를 판단하는 조건식
man = input('몇 세인가요? : ')
if int(man) >= 18 :
    print(f'{man}세는 성인입니다.')
else : 
    print(f'{man}세는 미성년자입니다.')

12세는 미성년자입니다.

##### 이미지 공들여서 가운데로 넣기
<p align="center">
 <img src = "./img/pepe-dancing-pepe-the-frog.gif">
</p>
<a herf = "https://tenor.com/ko/"> 여기서 가져옴 </a>
<p align="center">
 <img src = "./img/vulpisfoglia-cry.gif">
</p>

In [3]:
# list : 자료형의 묶음으로 표현 -> 변수들의 묶음 
# 대신 튜플은 수정 불가능
# list = [1, 2, 3, 4, 5]
# 변수들은 순서를 가진다 ( 저장한 순서 -> index )
# index range : 0 ~ n(요소의 개수)-1
list_a = [] # list 생성
list_b = [1, 2, 3] 
print(list_b, list_b[0], list_b[1], list_b[2])
list_c = [1, 2, [3, 4, [5, 6]]] # -> int, int, list 리스트 안에 리스트 (리스트의 중첩)(중요!!) 
print(list_c[2])# list 안엔 list
print(list_c[2][0]) 
print(list_c[2][1]) 
print(list_c[2][2][0])

[1, 2, 3] 1 2 3
[3, 4, [5, 6]]
3
4
5

In [118]:
# list 요소 참조
list_d = [1, 2, 3]

In [119]:
list_d[0] = 10
print(list_d[0]) # 10
print(list_d) # 2

10
[10, 2, 3]

In [ ]:
# 리스트의 슬라이싱
list_e = [1, 2, 3, 4, 5]

In [ ]:
# 변수[시작index : 마지막(탈출)index : 증가값(step)] <- 슬라이싱
print(list_e[0:4]) # [1, 2, 3, 4]
print(list_e[0:3:2]) # [1, 2, 3, 4, 5]

[1, 2, 3, 4]
[1, 3]

In [ ]:
# 리스트에 데이터를 저장, 추가적인 리스트 데이터를 하나의 리스트로 저장
score_1 = [100, 90, 80]
score_2 = [40, 90, 50, 100, 70]
score_1 + score_2 # 리스트의 연산

[100, 90, 80, 40, 90, 50, 100, 70]

In [122]:
score_1*3

[100, 90, 80, 100, 90, 80, 100, 90, 80]

In [137]:
list_score = []

In [ ]:
list_score.append(60) # 리스트에 데이터 추가

In [ ]:
list_score.remove(60) # 리스트에서 데이터 삭제

In [ ]:
list_score.pop() # 리스트의 마지막 요소 삭제
list_score.pop(0) # 리스트의 첫번째 요소 삭제
# 삭제할 요소의 index가 없으면 오류 발생

100

In [156]:
list_score

[100, 100, 100, 100, 100, 60]

In [163]:
list_temp1 = [1, 2, 3, 4]
list_temp2 = [5, 6, 7, 8]
list_temp3 = list_temp1 + list_temp2 # 리스트 합치기
print(list_temp1)
print(list_temp2)
print(list_temp3)

[1, 2, 3, 4]
[5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [164]:
list_temp1.extend(list_temp2) # 리스트의 요소를 추가
print(list_temp1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# -*- coding: utf-8 -*-
# list의 요소를 반복문으로 출력
# 중요!
for num in list_temp1 : # 0->1 num = 1 -> num = 2 -> num = 3... 안에있는 list의 갯수만큼 반복한다.
    print(num)

1
2
3
4
5
6
7
8

In [4]:
# 튜플 : list와 같이 순서를 가지는 데이터 타입
# 모든 특징이 list와 동일하지만 요소의 값을 변경하거나 삭제는 불가능하다.
# 데이터를 유지해서 사용해야하는 경우 사용한다.
# 특정 라이브러리의 함수에서 반환 타입으로 사용한다.(하나의 타입만 반환하기 때문에)
# 튜플은 ()로 생성, 튜플은 값이 1개여도 ,를 붙여야 한다.
tuple_a = () # tuple 생성
tuple_b = (1, 2, 3)
tuple_c = (4,)

In [9]:
print(tuple_a)
print(tuple_b)

()
(1, 2, 3)

In [7]:
# tuple 항목의 삭제
del tuple_b[0] # tuple은 삭제가 불가능하다.

TypeError: 'tuple' object doesn't support item deletion

In [8]:
# 요소의 데이터 수정
tuple_b[0] = 100 # tuple은 수정이 불가능하다.

TypeError: 'tuple' object does not support item assignment

In [16]:
tuple_c = (1, 2, 'a', 'b')
tuple_d = (3, 4, 5)

In [17]:
print(tuple_c[2])
print(tuple_c[0:])
print(tuple_c*2) # 튜플의 반복
print(tuple_c + tuple_d) # 튜플의 합

a
(1, 2, 'a', 'b')
(1, 2, 'a', 'b', 1, 2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4, 5)

In [21]:
# 딕셔너리 타입 : key:value 형식으로 데이터를 저장한다.
# {key1:value1, key2:value2, key3:value3, ...}
# 동적 추가 가능
dict_a = {}
dict_person = {
    'name':'scott',
    'age':20,
    'loc':'Seoul'
    }

In [25]:
print(dict_a)
print(dict_person)

{}
{'name': 'scott', 'age': 20, 'loc': 'Seoul'}

In [26]:
print(dict_person['name'], dict_person['age'], dict_person['loc']) # key로 value를 가져온다.

scott 20 Seoul

In [ ]:
# dict 데이터 추가 => key = 1, value = 'a'
dict_a[1] = 'a'

In [32]:
print(dict_a, dict_a[1])

KeyError: 1

In [29]:
dict_person['hasBook'] = True

In [30]:
print(dict_person)  # 'hasbook' : True 추가

{'name': 'scott', 'age': 20, 'loc': 'Seoul', 'hasBook': True}

In [31]:
# 값 삭제 : del a[1]
del dict_a[1]

In [33]:
print(dict_a)
print(dict_a[1]) # KeyError: 1

{}

KeyError: 1

In [34]:
dict_person.keys() # key값만 가져오기

dict_keys(['name', 'age', 'loc', 'hasBook'])

In [35]:
#형변환 : dict_person => list
list(dict_person.keys())

['name', 'age', 'loc', 'hasBook']

In [38]:
for key in dict_person.keys() :
    print(key, dict_person[key]) # key와 value를 출력한다.

name scott
age 20
loc Seoul
hasBook True

In [39]:
dict_person.values() # value값만 가져오기

dict_values(['scott', 20, 'Seoul', True])

In [40]:
dict_person.items() # key와 value를 튜플로 묶어서 가져오기

dict_items([('name', 'scott'), ('age', 20), ('loc', 'Seoul'), ('hasBook', True)])

In [44]:
# in 연산자 => list 요소를 포함하고 있는지 여부 체크
'uname' in dict_person # True

False

In [45]:
# 딕셔너리의 값을 참조 : dict_person['name']
# get(키값) => 오류 발생 X , None 을 반환한다. -> Fales
print(dict_person.get('name'), dict_person.get('uname')) # 이걸로 오류를 만들지 않을 수 있다.

scott None

In [48]:
# Set : 집합, 순서x, 중복 저장 x
# 집합연산 : 교집합, 합집합, 차집합
set_a = set([1, 2, 3, 4, 5, 6])
set_b = set([4, 5, 6, 7, 8, 9])

In [54]:
print(set_a&set_b, set_a.intersection(set_b)) # 교집합
print(set_a | set_b, set_a.union(set_b)) # 합집합
print(set_a - set_b, set_b - set_a) # 차집합
print(set_a.difference(set_b)) # 차집합

{4, 5, 6} {4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9} {1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3} {8, 9, 7}
{1, 2, 3}

In [56]:
# 데이터의 입력, 삭제, 여러 데이터 입력 update
set_c = set([1,2,3])

In [57]:
set_c.add(4)
set_c.add(2)

In [63]:
set_c.remove(2) # 2 삭제

In [65]:
set_c.update([2, 3, 4, 5, 6, 7]) # 여러개 데이터 추가

In [66]:
print(set_c)

{1, 2, 3, 4, 5, 6, 7}

In [67]:
list(set_c)

[1, 2, 3, 4, 5, 6, 7]

In [71]:
[ # 이런식으로 sql과 비슷하게 데이터를 다룰 수 있다. 또한 논리값을 DB에서도 가져오기도 한다.
    {'ename':'scott', 'sal':100, 'job':'clerk'},
    {'ename':'smith', 'sal':200, 'job':'manager'},
    {'ename':'allen', 'sal':300, 'job':'salesman'},
    {'ename':'james', 'sal':400, 'job':'clerk'},
    {'ename':'ford', 'sal':500, 'job':'analyst'},
    {'ename':'', 'sal':100, 'job':'clerk'},
    {},
    {}
]

[{'ename': 'scott', 'sal': 100, 'job': 'clerk'},
 {'ename': 'smith', 'sal': 200, 'job': 'manager'},
 {'ename': 'allen', 'sal': 300, 'job': 'salesman'},
 {'ename': 'james', 'sal': 400, 'job': 'clerk'},
 {'ename': 'ford', 'sal': 500, 'job': 'analyst'},
 {'ename': '', 'sal': 100, 'job': 'clerk'},
 {},
 {}]