In [1]:
# 함수 : 데이터를 받아서 처리(데이터의 가공)하고 결과 데이터
# def 함수이름([매개변수1, 매개변수2, ...]) :
#     처리할 문장
#     [return [결과값]] 함수의 종료, 값을 반환

# add 함수
# 숫자 두개를 받아서 
# 덧샘의 결과를 반환
def add(n1, n2):
    result = n1 + n2 # 데이터 처리
    return result # 결과값 반환

In [ ]:
# add()
add(10, 20) # 함수 호출

30

In [ ]:
# 매개변수가 없는 함수, 반환값도 없는 함수
def display_menu():
    menu = '''
    1. list
    2. insert
    3. search
    4. delete
    5. exit
    '''
    print(menu)
    
display_menu() # 함수 호출

    1. list
    2. insert
    3. search
    4. delete
    5. exit

In [2]:
# 매개변수가 있고 반환이 없는 함수
# 숫자 두개를 받아서 => 매개변수
# 덧샘연산 결과를 출력하는 => 처리
# 함수
def add_print(num1, num2):
    print(f'{num1}+{num2}={num1+num2}')

In [8]:
add_print(100, 5) # 함수 호출

100+5=105

In [ ]:
# None
result1 = add_print(1, 5) # None
print(result1) # 함수가 결과를 반환하는 return이 없어서 None을 반환하게 된다.

1+5=6
None

In [5]:
# 매개변수 지정해서 호출
def sub(n1, n2):
    result = n1-n2
    return result

In [6]:
print(sub(10, 1))
print(sub(n2=2, n1=10)) # 매개변수 지정해서 호출

9
8

In [7]:
# 가변 매개변수 (몇개가 올지 모를 때)
print('a',1,4,'v',6,7,8,9)

a 1 4 v 6 7 8 9

In [ ]:
# 전달되는 숫자들(?)의 합을 반환하는 함수
def sum_all(name, *args): # name 뒤쪽으로 오는 변수들을 tuple로 받는다.
    print(name)
    sum = 0
    for n in args: # n은 args의 요소들
        sum += n
    print(sum)
    return sum

In [ ]:
result2 = sum_all('sum', 1, 2, 3) # 가변 매개변수 
print('1+2+3=', result2)

sum
6
1+2+3= 6

In [20]:
def say_hello(name, age, gender):
    print(f'안녕하세요! {name}입니다.', end='\t')
    print(f'나이는 {age}살 입니다.', end='\t')
    print(gender)

In [21]:
say_hello('scott', '20', gender='str')

안녕하세요! scott입니다.	나이는 20살 입니다.	str

In [27]:
# 함수의 변환 : return value(단일 데이터)
# 반환 데이터 타입 : tuple (1,2,3,4,5), dict{'name':'K', 'age':20, ...}, list[1,2,3,4,5]
def add_mul(n1=1, n2=1):
    return (n1+n2, n1*n2) # tuple로 반환

In [24]:
result4 = add_mul(10, 3)
num_1, num_2 = add_mul(10, 3)
print(result4)
print(num_1, num_2)

(13, 30)
13 30

In [30]:
g_num = 100

def test(tnum):
    print(tnum)
    tnum2 = 2
    print(tnum2)
    print(g_num)

In [33]:
print(g_num)
print('*'*20)
test(10)
print()

100
********************
10
2
100

In [ ]:
# lambda 함수 : 함수를 하나의 라인으로 처리 
# 익명함수 : 이름이 없는 함수
# 함수 => 객체 => 변수=함수 => 매개변수=함수
# 함수를 간단하게 만드는 거다.
# 람다함수의 정의
add = lambda a, b : a+b # a+b를 반환하는 함수

In [ ]:
result = add(10, 3)
print(result)

In [34]:
# 숫자들의 list와 값을 체크하는 함수를 전달받아서
# 새로운 리스트를 반환하는 함수
def chk_list(temp, fn):
    result = []
    for n in temp:
        if fn(n):
            result.append(n)
    return result

In [38]:
list_temp = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# chk_fn = lambda n : n%2 == 0 # 짝수 판별
# result_temp = chk_list(list_temp, chk_fn)
result_temp = chk_list(list_temp, lambda n : n%2 == 1) # 홀수 판별
print(result_temp)

[1, 3, 5, 7, 9]

In [39]:
result2 = filter(lambda n : n%2==1, list_temp) # 홀수 판별
print(list(result2))

[1, 3, 5, 7, 9]

In [41]:
result3 = list(map(lambda n : n*10, list_temp))
print(result3)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [1]:
f = open('./readtext/test.txt', 'w')
f.write('Well\n')
f.close()